<br>
<br>
<h1>This is the Exchange show page</h1>

<%= @exchange.title %>
Provided by: <%= @exchange.provider.first_name %>

<% if @exchange.stage[:stage_number] >= 2 %>
<%= @exchange.provider.email %>
<% end %>

<br>

For: <%= @exchange.recipient.first_name %>

<% if @exchange.stage[:stage_number] >= 2 %>
<%= @exchange.recipient.email %>
<% end %>

<br>
Description: <%= @exchange.description %>
<br>
Location: <%= @exchange.location %>

<br>



Estimated hours: <%= @exchange.estimated_hours %>
Final hours: <%= @exchange.final_hours %>

<br>
<h1>Current status: <%= @exchange.stage[:stage_name] %></h1>

Proposed on: <%= @exchange.proposed_date %>
Accepted on: <%= @exchange.accepted_date %>
Delivered on: <%= @exchange.delivered_date %>
Confirmed on: <%= @exchange.confirmed_date %>

<!-- BUTTONS TO MOVE EXCHANGE FORWARD WITH VIEW LOGIC -->

<!-- ACCEPT a proposed exchange -->
<!-- Only allow the counter-party to the Proposed Exchange to accept (i.e., the person who did not propose it) -->

<!-- flash error if insufficient balance -->
<% if flash[:error] %>
  <br><br>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<% if @exchange.stage[:stage_number] == 1 %>
	<% if @exchange.accepting_party == current_user %>
		<h2>
		<%= link_to 'Accept this proposal', accept_exchange_path(@exchange) %>
		</h2>
	<% end %>
<% end %>

<!-- DELIVER an accepted exchange -->
<!-- Only allow the PROVIDER of the Accepted Exchange to deliver -->
<!-- NEED TO ADD FORM FOR FINAL HOURS! -->

<% if @exchange.stage[:stage_number] == 2 %>
	<% if @exchange.provider == current_user %>
		<h2>

		<!-- How many hours did this service actually take?
		NEEDS TEXT ENTRY FIELD FOR PERSON TO ENTER NUMBER
		CONFIRM BUTTON IS SUBMIT 
		Variable name should be "entered_hours"
		BUTTON HAS TO BE A -->


		</h2>


		<%= form_for(@exchange, url: deliver_exchange_path(@exchange), html: {method: "get"}) do |f| %>

		<%= f.text_field :final_hours, placeholder: "How long did it take?" %>
		<%= f.submit "Confirm exchange" %>

		<% end %>


		<%= link_to 'Confirm that you have done this', deliver_exchange_path(@exchange) %>

	<% end %>
<% end %>

<!-- CONFIRM a delivered exchange -->
<!-- Only allow the RECIPIENT of the Delivered Exchange to confirm -->
<!-- NEED TO ADD FORM FOR FINAL HOURS! -->

<% if @exchange.stage[:stage_number] == 3 %>
	<% if @exchange.recipient == current_user %>
		<h2>
		<%= link_to 'Confirm that you received this', confirm_exchange_path(@exchange) %>
		</h2>
	<% end %>
<% end %>






