<p id="notice"><%= notice %></p>

<h1>Listing Service Requests</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Estimated hours</th>
      <th>Location</th>
      <th>Timing</th>
      <th>Requested by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= service_request.title %></td>
        <td><%= service_request.description %></td>
        <td><%= service_request.estimated_hours %></td>
        <td><%= service_request.location %></td>
        <td><%= service_request.timing %></td>       
        <td><%= service_request.recipient.first_name %></td>
        <td><%= link_to 'Show', service_request %></td>
        <td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
        <td><%= link_to 'Destroy', service_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service request', new_service_request_path %>
