<p id="notice"><%= notice %></p>

<div class="container">
                 <div class="col-md-6 col-md-offset-3 " style="padding-bottom:30px">
                    <div class="panel panel-green" style="margin-top:10px">
                        <div class="panel-heading" style="text-align:center">
                          <h2>
                            <strong>Title:</strong>
                            <%= @service_request.title %>
                          </h2>

                          <p>
                            <strong>Description:</strong>
                            <%= @service_request.description %>
                          </p>

                          <p>
                            <strong>Estimated hours:</strong>
                            <%= @service_request.estimated_hours %>
                          </p>

                          <p>
                            <strong>Location:</strong>
                            <%= @service_request.location %>
                          </p>

                          <p>
                            <strong>Timing:</strong>
                            <%= @service_request.timing %>
                          </p>

                          <p>
                            <strong>Requested by:</strong>
                            <%= @service_request.recipient.first_name %>
                          </p>

                          <% if @service_request.requested_by_id == @current_user.id %>
                            <button class="btn btn-info btn-md"><%= link_to 'Edit this request', edit_service_request_path(@service_request) %></button> | 
                          <% end %>

                          <br><br>
                          <h2>
                          <% if !(@service_request.requested_by_id == @current_user.id) %>
                            <button class="btn btn-success btn-lg"><%= link_to 'I can help with this!', create_exchange_path(@service_request) %></button>
                          <% end %>
                          </h2>

                          <button class="btn btn-info btn-md"><%= link_to 'See all service requests', service_requests_path %></button>

</div>
                </div>
            </div>
        </div>
