

<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>Welcome, <%=@user.first_name %>!</h1>
      <h3>You currently have <%= @user.time_balance %> hours in your account!</h3>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<br>

<div>
  <h4>Account Information</h4>
  <p>
    Name: <%= @user.first_name %> <%= @user.last_name %><br>
    Email: <%= @user.email %><br>
    Phone: <%= @user.phone %><br>
    Services offered: <%= @user.services_offered %><br>
    City: <%= @user.city %><br>
    Zipcode: <%= @user.zipcode %><br>
    <%= link_to "Edit", edit_registration_path(@user) %>
  </p>
  <p><%= link_to "View Profile", user_path(@user) %></p>
</div>
<br>

<div>
  <h4>Your current service requests</h4>
  <p>
    <% @requests.where(:requested_by_id => @user.id).each do |r| %>
      <div>
        <a href="/service_requests/<%= r.id %>"><strong><%= r.title %></strong></a>
        <%= r.created_at %><br>
        <%= r.description %><br>
        Estimated hours: <%= r.estimated_hours %><br>
        Location: <%= r.location %><br>
        Timing: <%= r.timing %><br>   
        <%= link_to "Edit", edit_service_request_path(r) %> | <%= link_to "Destroy", r, method: :delete, data: { confirm: "Are you sure?" } %>   
      </div><br>
    <% end %>
  </p>
</div>
<br>

<div>
  <h4>Your Exchanges</h4>
  <p>
    <% @exchanges.each do |e| %>
      <% if e.provided_by_id == @user.id %>
        <%= e.created_at %>
        <a href="/exchanges/<%= e.id %>"><%= e.title %></a><br>
        Recipient: <%= e.recipient.first_name %><br>
        <% if e.confirmed == true %>
          Status: Confirmed
        <% elsif e.delivered == true %>
          Status: Delivered, pending confirmation
        <% elsif e.accepted == true %>
          Status: Accepted, pending delivery
        <% else %>
          Status: Proposed, pending acceptance  
        <% end %><br><br>
      <% end %>
      <% if e.received_by_id == @user.id %>
        <%= e.created_at %>
        <a href="/exchanges/<%= e.id %>"><%= e.title %></a><br>
        Provider: <%= e.provider.first_name %>
        <% if e.confirmed == true %>
          Status: Confirmed
        <% elsif e.delivered == true %>
          Status: Delivered, pending confirmation
        <% elsif e.accepted == true %>
          Status: Accepted, pending delivery
        <% else %>
          Status: Proposed, pending acceptance  
        <% end %><br><br>
      <% end %>
    <% end %>
  </p>
</div>
