<br><br><br><br>
<!-- this should be placeholder text; think of better heading -->
<h1>How can we help each other?</h1>

<!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Service Requests
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>City</th>
                                            <th>Offers</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @all_users.each do |u| %>
                                        <tr class="odd gradeX">
                                            <td>
                                            <%= link_to user_path(u) do %>
                                                <strong><%= u.first_name %></strong>
                                            <% end %>
                                                <!-- <a href="/users/<%= u.id %>"><strong><%= u.first_name %></strong></a> -->
                                            </td>
                                            <td><%= u.city %></td>
                                            <td><%=u.services_offered %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 <!-- /.table-responsive -->


  <div>
     
    <br>
    Offers: 
   <br><br>
  </div>


