
<!-- this should be placeholder text; think of better heading -->

<center><p class="lead">How can we help each other?</p>
<em>Ready to help your fellow Epoch banker? Click on a name below to offer your services!</em></center><br>

<!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3>Service Requests</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>City</th>
                                            <th>Offers</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @all_users.each do |u| %>
                                        <tr>
                                            <td>
                                            <%= link_to user_path(u) do %>
                                                <strong><h3><%= u.first_name %></h3></strong>
                                            <% end %>
                                                <!-- <a href="/users/<%= u.id %>"><strong><%= u.first_name %></strong></a> -->
                                            </td>
                                            <td><%= u.city %></td>
                                            <td><%=u.services_offered %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 <!-- /.table-responsive -->


