<!-- show user's public account information -->
<div class="col-lg-12">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 " style="padding-bottom:30px">
      <div class="panel panel-warning" style="margin-top:10px" id="startrequest">
        <div class="panel-heading" style="text-align:center">
          <h2><%= @user.first_name %></h2>
        </div>
        <div class="panel-body" style="text-align:center">
          <p><strong><%= @user.city %></strong><br>
          <p><i>What I can do for you</i><br>
          <%= @user.services_offered %></p>
          <% if @user == @current_user %>
            <br>
            <button class="btn btn-default btn-md"><%= link_to "Edit Profile", edit_registration_path(@user) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- help me button; needs actual link to work, currently just a placeholder -->
<div style="text-align:center">
  <button class="btn btn-default btn-md"> Please help me!
</div>

<br><br>

<!-- Show all of current user's active service requests -->
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3><%= @user.first_name %>'s current service requests</h3>
        </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive table-bordered">
              <table class="table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Estimated hours</th>
                    <th>Location</th>
                    <th>Timing</th>
                    <th>Requested by</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @requests.where(:requested_by_id => @user.id).each do |r| %>
                    <tr id='srs'>
                      <td><%= link_to r.title, r %></td>
                      <td><%= r.description %></td>
                      <td><%= r.estimated_hours %></td>
                      <td><%= r.location %></td>
                      <td><%= r.timing %></td>       
                      <td><%= r.recipient.first_name %></td>
                      <td><button class="btn btn-default btn-md"><%= link_to 'More info', r %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
  <div>
