<!DOCTYPE html>
<html>
<head>
  <title>Epoch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/application.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<header>
</header>
<body>


<nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="/">Epoch</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li> <%= link_to "About", about_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Get Help <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><%= link_to "Request service", service_requests_path(:anchor => "startrequest") %></li>
                    <li><%= link_to "See all community members", users_path %></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Give Help <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><%= link_to "Browse requests", service_requests_path %></li>
                </ul>
            </li>

            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%=current_user.first_name%><b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><%= link_to "Dashboard", users_account_path %> </li>
                    <li><%= link_to "Profile", user_path(current_user) %> </li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                </ul>
            </li>




            <% else %>

            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>

            <% end %>

        </ul>
    </div>
</nav>


    <%= yield %>


     <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                       <li>
                        <%= link_to "About", about_path %>
                    </li>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                         <%= link_to "Contact", contact_path %>
                    </li>
               <% if !user_signed_in? %>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                     <%= link_to "Sign Up",new_user_registration_path %>
                    </li>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                     <%= link_to "Log In", new_user_session_path %>
                    </li>
                <% end %>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; General Assembly WDI Team 2, 2015. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Adding below code for Ajax: -->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>
